.sidebar {
  border-bottom: 1px solid lightgray;
  border-radius: 5px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 15px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

@media screen and (max-width: 880px) {
  .hamburger-menu {
    display: block;
  }

  .sidebar.mobile {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 999;
  }

  .sidebar.mobile.open {
    right: 0;
  }
}
