.cardlist {
  margin-top: 10px;
  overflow: hidden;
}

.cardlist h3 {
  color: #ffa500;
  text-transform: capitalize;
}

.cardlist-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.cardlist-header button {
  background: none;
  border: 1px solid lightgray;
  padding: 5px 15px;
  color: gray;
  width: fit-content;
}

@media (max-width: 1281px) {
  .cardlist-header {
    width: 810px;
  }
}

@media (max-width: 1071px) {
  .cardlist-header {
    width: 600px;
  }
}

@media (max-width: 870px) {
  .cardlist-header {
    display: flex;
    flex-direction: column;
  }
}
