.cardlist {
  margin-top: 10px;
  overflow: hidden;
}

.cardlist h3 {
  color: #ffa500;
  text-transform: capitalize;
}

.cardlist-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.cardlist-header button {
  background: none;
  border: 1px solid lightgray;
  padding: 5px 15px;
  color: gray;
  width: fit-content;
}

@media (max-width: 1281px) {
  .cardlist-header {
    width: 810px;
  }
}

@media (max-width: 1071px) {
  .cardlist-header {
    width: 600px;
  }
}

@media (max-width: 870px) {
  .cardlist-header {
    display: flex;
    flex-direction: column;
  }
}

.cardList-container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 680px) {
  .cardList-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox için */
    -ms-overflow-style: none; /* IE ve Edge için */
    padding-bottom: 15px; /* Kaydırma çubuğu için boşluk */
  }

  .cardList-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari ve Opera için */
  }

  /* Kartların mobilde yan yana dizilmesi için */
  .cardList-container > * {
    flex: 0 0 auto;
    margin-right: 10px;
  }
}
