.cardlist {
  margin-top: 10px;
  width: 100%;
}

.cardlist h3 {
  color: #ffa500;
  text-transform: capitalize;
}

.cardlist-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
  padding: 5px 10px;
}

.cardlist-header button {
  background: none;
  border: 1px solid lightgray;
  padding: 5px 15px;
  color: gray;
}

@media (max-width: 1270px) {
  .cardList-container {
    display: flex;
    justify-content: space-between;
  }

  .cardlist-header {
    width: 800px;
  }
}

@media screen and (max-width: 1115px) {
  .cardlist-header {
    width: 600px;
  }
}

@media screen and (max-width: 905px) {
  .cardlist-header {
    width: 400px;
  }
}

@media screen and (max-width: 730px) {
  .cardlist-header {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}

@media screen and (max-width: 592px) {
  .cardlist-header {
    width: 200px;
  }
}
