.navbar {
  background-color: #004d7f;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  position: relative;
}

.navbar-logoContainer {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-logo {
  height: 300px;
  object-fit: contain;
}

.navbar form {
  margin-left: 270px;
  width: 40%;
  display: flex;
  align-items: center;
}
.navbar form .search-box {
  display: flex;
  height: 35px;
  align-items: center;
  width: 80%;
  background-color: white;
  border-radius: 5px;
}

.navbar form .search-box input {
  width: 92%;
  background: none;
  outline: none;
  border: none;
  padding: 5px;
}

.navbar form .navbar-iconContainer {
  background-color: #ffa500;
  color: white;
  width: 8%;
  cursor: pointer;
  padding: 5px;
  height: 100%;
  text-align: center;
  border-radius: 5px;
}

.navbar form .navbar-location-icon {
  margin-left: 15px;
  background-color: #e5e5e5;
  color: black;
  padding: 5px;
  height: 32px;
  width: 32px;
  font-size: 28px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.navbar-right .navbar-right-icons {
  display: flex;
  justify-content: space-around;
  width: 200px;
  color: #ffa500;
  font-size: 25px;
}

.navbar-rightLinks {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
}

.navbar-rightLinks a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 3px;
}

.navbar-rightLinks a:hover {
  text-decoration: underline;
}

.navbar-rightLinks span {
  color: white;
  height: 10px;
}

.navbar-right button {
  margin-right: 10px;
  padding: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffa500;
  color: white;
  border-radius: 5px;
}

.navbar-right > .register-loginBtn {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  color: #e5e5e5;
}

.navbar-right > .register-loginBtn:hover {
  background-color: #f0f0f0;
  color: black;
}
