.sidebar-options {
  border: 1px solid lightgray;
  cursor: pointer;
  height: 50px;
}

.sidebar-options:hover {
  background-color: antiquewhite;
}

.icon {
  width: 30px;
  height: 30px;
}

.category-text {
  font-size: 15px;
  color: gray;
}
