.card {
  position: relative;
  width: 186px !important;
  height: 200px;
  cursor: pointer;
  border: 1px solid lightgray;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card .card-img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 5px 10px !important;
}

.card-body h6 {
  font-size: 10px;
  margin: 3px 0 !important;
}

.card-body .card-title {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 !important;
}

.apacilIlan-box {
  position: absolute;
  z-index: 2;
  background-color: red;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  font-size: 10px;
  color: white;
  top: 3px;
  left: 3px;
}
.yeniIlan-box {
  position: absolute;
  font-size: 10px;
  z-index: 2;
  top: 3px;
  left: 3px;
  background-color: #ffa500;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  color: white;
}
.jetIlan-box {
  position: absolute;
  font-size: 10px;
  z-index: 2;
  top: 3px;
  left: 3px;
  background-color: #5b9cd6;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  color: white;
}

.card-buttonGroup {
  display: flex;
  align-items: center;
  border-top: 1px solid lightgray;
  padding: 5px 15px;
}

.card-buttonGroup > .favoriteIcon {
  font-size: 20px;
  cursor: pointer;
}
.card-btn {
  border: none;
  background: none;
  text-align: left;
  width: 100%;
}

.cardProfile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  position: absolute;
  top: 70px;
  right: 2%;
  transform: translateX(-20%);
}
