.categoryContentLinks {
  display: flex;
  flex-direction: column;
}

.categoryContentLinks-body {
  width: 250px;
  border: 1px solid lightgrey;
  padding: 10px;
}

.categoryContentLinks-body ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

.categoryContentLinks-body ul li a {
  text-decoration: none;
}
