.popular-location {
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  padding: 5px;
  height: 100px;
}
.popular-locationContainer {
  width: 92%;
  margin: 0 auto;
}

.popular-locationText {
  font-size: 23px;
}

.popular-locationBtn {
  background-color: #ffff;
  border: 1px solid lightgray;
  font-weight: bold;
}
